<div class="container">
    <div class="row">
        <div class="warrper col-md-6">
            <div class="blur"></div>
            <div class="timer">
                <span countdown='' date='July 28, 2016 16:00:00'>&nbsp;</span>
            </div>
            <div ng-hide="brawoTy" class="fb">
                <p>Brawo Ty {{imie}}</p>
                <div class="circular" style="background: url('{{zdj}}') no-repeat;"></div>
            </div>
            <div class="btn-container" ng-show="brawoTy">
                <a  class="bttn" ng-click="login()" style="text-decoration: none;color: #fff;">Witaj Budvo!!!</a>
            </div>

        </div>
    </div>
</div>